
*{
margin: 0;
padding: 0;
	
}




body {

/*	background-image: url("web_images/background.jpg"); */
	background-color: black;/* wanneer achtergrond niet weergegeven kan worden*/
	background-attachment: fixed;
	background-position: center; 
    height: 100%;
    margin: 0;
    padding: 0;
	

	
}

nav /* navagatie bar */
{ 
  width: 140px,;
  position: fixed;
  border-radius: 400;
  height: 100vh;
  background-color: rgb(47,79,79,0.8);
  


/*	position: sticky; */
    top: 0; 
/*	background-image: url("web_images/background.jpg"); */

 
}
nav ul /* navagatie bar */
{	
    background: linear-gradient(90deg,  
     rgba(170, 170, 170, 0.6) 0%, 
     rgba(170, 170, 170, 0.6) 25%, 
     rgba(170, 170, 170, 0.2) 75%, 
     rgba(170, 170, 170, 0.2) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
     inset 0 0 1px rgba(255, 255, 255, 0.6);


}
nav ul li /* navagatie bar */
{
    display: /*inline-*/block;
	
	

}

nav ul li a /* Tekst navagatie bar */

{
    padding: 10px; 
    color: white;
    font-size: 18px;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
    display: block;
	

 }
nav ul li a:hover {
    background-color: #2F4F4F; 
}
 



 
.logo
{
	width: 40px ;
	float: left;
	height: auto;
	margin: 15px 10px;
	
	-webkit-transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
}


.logo:hover{
	transform: scale(2);
} 
 
 
 
.text /* Tekst blok home pagina */
 {
	 padding-left: 40px;



/*
	min-height:350px;
	background-image: url("web_images/tekst-background.jpg");
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 80px;
	*/
}
.minindex{
	min-height:476px;
	padding-left:250px;
	padding-top:30px;

}

.mindomotica{
	min-height:476px;
	padding-left:250px;
	padding-top:30px;
}
.minsandur-camerabeveiliging{

	min-height:309px;
	padding-left:250px;
	padding-top:30px;
	
}



p1 /*tekst kleur 1*/
 { 
	color: white;
	font-size: 18px;
}



footer /* onder aan de pagina*/
{ 

	padding: 0px;
/*	max-height: 220px; */
    clear: both; 
    background: darkslategray;
    text-align: center;
	bottom:0;
/*	position:relative; */

}


video { 

    position: fixed;
    top: -130px;

    left: 50%; 
    min-width: 100%;
    min-height: 100%;
  /*  width: auto; */
/*    height: auto; */
    z-index: -200;
    transform: translateX(-40%)  
}	
	

