
*{
	margin: 0;
	padding: 0;
	
}

body {

/*	background-image: url("web_images/background.jpg"); */
/*	background-color: black;/* wanneer achtergrond niet weergegeven kan worden*/
	background-attachment: fixed;
	background-position: center; 	
}

nav /*boven*/
{
	background: darkslategray;
	opacity: 1;
}

nav ul /* navagatie bar */
{
    background: linear-gradient(90deg, 
     rgba(170, 170, 170, 0.6) 0%, 
     rgba(170, 170, 170, 0.6) 25%, 
     rgba(170, 170, 170, 0.2) 75%, 
     rgba(170, 170, 170, 0.2) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
     inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li 
{
    display: inline-block;	
}

nav ul li a /* Tekst navagatie bar */
{
    padding: 10px; 
    color: white;
    font-size: 18px;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
    display: block;
 }
 
 nav ul li a:hover {
	background-color: #2F4F4F; 
}

.logolijn{
	display: inline-block;
}


		

 		
 @media (min-width:800px) {	/* navagatie bar zijkant */

  
nav 
{ 

	position: fixed;
/*	border-radius: 400; */
	height: 100vh;
	background: darkslategray;
	opacity: 1;
/*	position: sticky; */
    top: 0; 
/*	background-image: url("web_images/background.jpg"); */
	width:80px;
 
}
nav ul /* navagatie bar */
{	
    background: linear-gradient(90deg,  
     rgba(170, 170, 170, 0.6) 0%, 
     rgba(170, 170, 170, 0.6) 25%, 
     rgba(170, 170, 170, 0.2) 75%, 
     rgba(170, 170, 170, 0.2) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
     inset 0 0 1px rgba(255, 255, 255, 0.6);


}
nav ul li /* navagatie bar */
{
    display: /*inline-*/block;

	

}

nav ul li a /* Tekst navagatie bar */

{
    padding: 10px; 
    color: white;
    font-size: 18px;
    font-family: arial, helvetica, sans-serif;
    text-decoration: none;
    display: block;


 }
nav ul li a:hover {
	background-color: #2F4F4F; 
}
 
 }
 
 
 
.linkedin{
	color: gray;
	fill: currentColor;
	opacity:1;
}

.linkedin:hover{
	color: #0077B5;
	fill: currentColor;
	opacity:1;
}

.facebook{
	color: gray;
	fill: currentColor;
	opacity:1;
}

.facebook:hover{
	color: #3B5998;
	fill: currentColor;
	opacity:1;
}

.git{
	color: gray;
	fill: currentColor;
	opacity:1;
}
.git:hover{
	color: #f14e32;
	fill: currentColor;
	opacity:1;
}


 
.logo{
	width: 60px ;
	float: left;
	height: auto;
	margin: 15px 10px;
	
	-webkit-transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
}

.logo:hover{
	transform: scale(2);
} 

.navbarlogo{

	margin-left:14px;
	font-size:35px;
	color:#8be5dc;	
}

.navbarlogo:hover{
	transform: scale(1.5);
	-webkit-transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
} 
.contactlogo{
	margin-left:14px;
	font-size:35px;
	color:#8be5dc;	
}

.downbutton{
	
	margin-left:14px;
	font-size:50px;
	color:#8be5dc;	
	position: absolute;
}

.downbutton:hover{
	color:black;	
}


.downbuttononder{
	text-align: center;
	margin-right: 40px;
	padding-top: 0px;	
} 


  
.content {
	padding-left: 30px; 
	padding-top: 10px;
	margin-left: 80px;
	margin-bottom:0px;
	min-height:100vh;
	background: rgba(27, 53, 53, 0.9);
	}
	
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: auto;
    height: 100vh;
    /* background-color: #1b3535; */
	opacity:1;
	margin-left: 2%;
	margin-right: 4%;	
}

.flex-item {
    background-color: darkslategray;
    width: 585px;
    height: 94%;
    margin: 1%;
	opacity:1;
}

.home {/* Tekst blok home pagina */

	background: url(web_images/rsz_1img_0246.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity:1;
}

.texthomeblok{
	
	padding-top: 260px;
	margin-left:140px;
}

.aboutblok{
	background-color:darkslategray;
	margin-right: 50%;
	padding-top: 1%;
	padding-right: 1%;
	padding-left: 1%;
	padding-bottom: 1%;
}

.about{


}

.skills{


}

.contact{


}

.contactblok{
	
	background-color: darkslategray;
	margin-left:3%;
	margin-right:5%;
	padding-bottom:10px;
	text-align: center;	
	margin-top: 10px;
}



.googlemapsopmaak{
	
	width:100%;
	height:100%; 
	opacity:1;
}

.blok5{
	background-color: darkslategray;
	text-align: left;
	opacity:1;
}

p1 /*tekst kleur 1*/
 { 
	color: white;
	font-size: 18px;
}

p2{
	
	color: white;
	font-size: 18px;
	font-weight: bold;
	border-radius: 7px;
    background-color: darkslategray;
}

footer /* onder aan de pagina*/
{ 
	margin-left:80px;
	padding: 70px;
/*	max-height: 220px; */
    clear: both; 
    background: darkslategray;
    /* text-align: center; */
	bottom:0;
/*	position:relative; */
	opacity: 1;
}	

video /*background video*/
{ 

    position: fixed;
    top: -130px;
    left: 50%; 
    min-width: 100%;
    min-height: 100%;
/*  width: auto; */
/*  height: auto; */
    z-index: -200;
    transform: translateX(-40%);
}


/*---------------- contactblok ----------------*/
input[type=text], textarea {
    width: 100%; 
    padding: 12px; 
    border: 5px solid #1b3535; 
    border-radius: 10px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
	resize: vertical
}

input[type=submit] {
    background-color: #1b3535;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	font-size: 18px;
}

input[type=submit]:hover {
    background-color: #1b3535;
	color:#8be5dc;
}

.container {
    border-radius: 5px;
    background-color: darkslategray;
	padding-left: 20%;
	padding-right: 20%;
	margin-top: 25px;	
} 
/*^^^^^^^^^^^^^^^^ contactblok ^^^^^^^^^^^^^^^^*/



.socialmedia{
	float:right;
	
}

@media (max-width:800px){ /*blok naar link*/
	.content, footer {
		margin-left:0;	
}
}


/*---------------- skills ----------------*/
.skillstitle{
	text-align:center;
}


.skillsblok2{
	
	background-color: darkslategray;
	margin-left:3%;
	margin-right:5%;
	padding-bottom:10px;
	margin-top: 10px;
	min-height:92vh
}



.skillsblok1{
	margin: 3%;
	margin-right: 50%;
}


.container1 {
	width: 80%;
	background-color: #ddd;

}

.skillsblok {
	text-align: right;
	padding-right: 20px;
	line-height: 40px;
	color: white;
}

.html {
	width: 80%; 
	background-color: #b70909;
	}
	
.css {
	width: 60%; 
	background-color: #0d3cd8;
	}
	
.javascript {
	width: 20%; 
	background-color: #08d319;
	}
.php	
{
	width: 10%; 
	background-color: #cc990e;
	}
/*^^^^^^^^^^^^^^^^ skills ^^^^^^^^^^^^^^^^*/